variable "access_key" {
  description = "Access_key"
  type        = string
  default     = "AKIAXXXXXXXXXXXXXXXXXX"
}

variable "secret_key" {
  description = "Secret_key"
  type        = string
  default     = "zbtXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
}
